extends ../main_layout
block head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
block content
    div.new
        h1 #{title}
        form.form-horizontal(action=codetrimsPath(), method="post")
            div.form-group
                label.control-label Title
                input(type="text", class="form-control input-lg", id="title", placeholder="Title", name="title")
            div.form-group
                label.control-label Code
                textarea.form-control(name="codetrim", rows="20")
            button.btn.btn-primary.pull-right(type="submit", class="input-lg") Submit