extends ../main_layout
block head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
block content
    div.show
        h1 #{result.title}
        -if (user){
            h4
                a(href=editCodetrimPath(result.id)) Edit
        -}
        p.lead
        pre
            div.content #{result.codetrim}
